---
layout : default
---
@inherits RazorEngine.Templating.TemplateBase<Pretzel.Logic.Templating.Context.PageContext>

<div class="blog-main">
@{
    var targetTag = (string)Model.Bag["target-tag"];
    var targetTagUrl = (string)Model.Bag["target-tag-url"];
    var posts = Model.Site.Tags.Single(t => t.Name == targetTag).EnPosts.ToList();
}
<h1 id="@targetTagUrl">Posts about @targetTag</h1>
@foreach (var post in posts)
{
    var excerpt = (string)post.Bag["excerpt"];
    var commentsLink = @post.Url.Replace("index.html", "") + "#disqus_thread";
    <div class="blog-post">
        <h2 class="blog-post-title"><a href='@post.Url.Replace("index.html", "")'>@post.Title</a></h2>
        <span class="blog-post-meta">
          <b>Date:</b> @post.Date.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("en-US")).
          <b>Tags:</b>
            @foreach(var tag in post.Tags)
            {
                <a href="/blog/tag/@Pretzel.Logic.Extra.UrlAliasFilter.UrlAlias(tag)"><span class="badge badge-pill badge-info">@tag</span></a>
            }
        </span><br /><br />
        @Raw(excerpt)
        <a href='@post.Url.Replace("index.html", "")'>Read more</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="@commentsLink">Comments</a><br /><br />
        <hr />
    </div>
}
</div>